<!DOCTYPE HTML>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
    <script src="components/loader.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/onsenui/js/onsenui.min.js"></script>
    <script src="lib/onsenui/js/angular-onsenui.min.js"></script>
    <script src="lib/angular/angular-sanitize.js"></script>

    <link rel="stylesheet" href="components/loader.css">
    <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
    <link rel="stylesheet" href="css/style.css">

    <script>
      var app = angular.module('myApp', ['onsen','ngSanitize']);
    </script>
    <script src="scripts/basic.js"></script>
    <script src="scripts/event.js"></script>

</head>
<body ng-controller="myController">
  <form>
    memo:
    <div>
      <textarea ng-model="memo" cols="50" rows="7"></textarea>
    </div>
  </form>
  <div ng-bind-html="memo | nl2br"></div>
  <form>
    <label for='name'>name: </label>
    <input id='name' name='name' type='text' ng-model='myName' />
    <button ng-click='onclick()'>send</button>
    <div>{{greeting}}</div>
  </form>
</body>
</html>
